<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer class="px-2 border-t border-zinc-100 absolute bottom-0 w-full">
  <p class="bg-brand/5 text-brand leading-6 text-xs text-right">
    v<%= Application.spec(:phoenix, :vsn) %>
  </p>
</footer>
