<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Mejora" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <header class="sticky top-0 flex h-16 items-center gap-4 bg-background px-4 md:px-6">
      <div class="flex shrink-0 items-center">
        <.link href={~p"/"}>
          <img
            class="block h-12 w-auto"
            src={static_path(MejoraWeb.Endpoint, "/images/logo.svg")}
            alt="Junta de Mejoras"
          />
        </.link>
      </div>

      <nav
        :if={is_nil(@current_user)}
        class="hidden w-full flex justify-end gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6"
      >
        <.dropdown_menu>
          <.dropdown_menu_trigger>
            <.link href={~p"/users/log_in"}>
              <.button variant="ghost">Log in</.button>
            </.link>
          </.dropdown_menu_trigger>
        </.dropdown_menu>

        <.dropdown_menu>
          <.dropdown_menu_trigger>
            <.link href={~p"/users/register"}>
              <.button variant="ghost">Sign up</.button>
            </.link>
          </.dropdown_menu_trigger>
        </.dropdown_menu>
      </nav>

      <nav
        :if={Mejora.RBAC.has_permission?(@current_user, "view_stats")}
        class="hidden w-full justify-end flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6"
      >
        <.dropdown_menu>
          <.dropdown_menu_trigger>
            <.link href={~p"/admin/dashboard"}>
              <.button variant="ghost">Inicio</.button>
            </.link>
          </.dropdown_menu_trigger>
        </.dropdown_menu>

        <.dropdown_menu>
          <.dropdown_menu_trigger>
            <.link href={~p"/admin/board"}>
              <.button variant="ghost">Mesa Directiva</.button>
            </.link>
          </.dropdown_menu_trigger>
        </.dropdown_menu>

        <.dropdown_menu>
          <.dropdown_menu_trigger>
            <.button variant="ghost">Mi Cuentra</.button>
          </.dropdown_menu_trigger>

          <.dropdown_menu_content>
            <.menu class="w-56">
              <.menu_group>
                <.link href={~p"/admin/billing"}>
                  <.menu_item>
                    <.icon name="hero-banknotes" class="mr-2 h-4 w-4" />
                    <span>Adeudos y Pagos</span>
                  </.menu_item>
                </.link>
              </.menu_group>
            </.menu>
          </.dropdown_menu_content>
        </.dropdown_menu>

        <.dropdown_menu>
          <.dropdown_menu_trigger>
            <.link href={~p"/admin/projects"}>
              <.button variant="ghost">Proyectos</.button>
            </.link>
          </.dropdown_menu_trigger>
        </.dropdown_menu>

        <%= if @current_user do %>
          <.dropdown_menu>
            <.dropdown_menu_trigger>
              <.link href={~p"/users/settings"}>
                <.button variant="ghost">Configuración</.button>
              </.link>
            </.dropdown_menu_trigger>
          </.dropdown_menu>

          <.dropdown_menu>
            <.dropdown_menu_trigger>
              <.link href={~p"/users/log_out"} method="delete">
                <.button variant="ghost">Salir</.button>
              </.link>
            </.dropdown_menu_trigger>
          </.dropdown_menu>
        <% end %>
      </nav>
    </header>

    <%= @inner_content %>
  </body>
</html>
